---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Marquee from "../components/Marquee.astro";
import Workers from "../components/Workers.astro";
import HowItWorks from "../components/HowItWorks.astro";
import AppDemo from "../components/AppDemo.astro";
import Manifesto from "../components/Manifesto.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <Marquee />
    <Workers />
    <HowItWorks />
    <AppDemo />
    <Manifesto />
  </main>
  <Footer />
</BaseLayout>
